.darkTheme {
  --clr-nav: black;
  --clr-bg: black;
  --clr-text-soft: #aaa;
  --clr-text-hard: white;
  --clr-shadow: rgba(255, 255, 255, 0.50);
  --bx-shadow: 0px 3px 8px var(--clr-shadow);
  --border: 1px solid #222;
}

.lightTheme {
  --clr-nav: rgba(255, 255, 255, 1);
  --clr-bg: white;
  --clr-text-soft: #444;
  --clr-text-hard: black;
  --clr-shadow: rgba(0, 0, 0, 0.1);
  --bx-shadow: 0px 3px 8px var(--clr-shadow);
  --border: 1px solid #f0f0f0;
}

body {
  margin: 0;
  padding: 0;
}
.App {
  background: var(--clr-bg);
  color: var(--clr-text-soft);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
p {
  color: var(--clr-text-soft);
}

.header {
  background: var(--clr-nav);
  height: 4em;
  text-align: center;
  position: fixed;
  z-index: 30;
  width: 100%;
  border: var(--border);
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  user-select: none;
  position: absolute;
  align-items: center;
  display: flex;
  height: 100%;
  top: 0;
  left: 0;
  margin-left: 1em;
  span,
  span::before,
  span::after {
    display: block;
    width: 2em;
    height: 3px;
    position: relative;
    background: var(--clr-text-hard);
    transition: transform 350ms ease-in-out;
  }
  span::after,
  span::before {
    content: "";
    position: absolute;
  }
  span::before {
    transform: translateY(-8px);
  }
  span::after {
    transform: translateY(8px);
  }
}

input.nav-toggle:checked ~ nav {
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 350ms ease-in-out;
}

input.nav-toggle:checked ~ label {
  span {
    transform: rotate(135deg);
    transition: transform 350ms ease-in-out;
  }
  span::before {
    transform: translateY(0px);
    transition: transform 350ms ease-in-out;
  }
  span::after {
    transform: translateY(0px);
    transform: rotate(-270deg);
    transition: transform 350ms ease-in-out;
  }
}

nav {
  background: var(--clr-nav);
  position: absolute;
  text-align: center;
  width: 100%;
  top: 100%;
  left: 0;
  transform: scaleY(1);
  transform: translateY(-100%);
  z-index: -4;
  transform-origin: top;
  transition: transform 500ms ease-in-out;
  box-shadow: var(--bx-shadow);
  border: var(--border);
  ul {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
    left: 0;
  }
  li {
    margin: 1em;
  }
  a {
    color: var(--clr-text-soft);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  a:hover {
    text-decoration: underline;
  }
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.content-parent {
  background-color: var(--clr-bg);
  padding-top: 4em;
}

.content {
  margin: 0;
  padding: 0;
}




/* For Desktop */
@media screen and (min-width: 40em) {
  .nav-toggle-label {
    display: none;
  }

  .header {
    display: grid;
    /*                    space  links           space  */
    grid-template-columns: 1fr minmax(34em, 1fr) 1fr;
    box-shadow: var(--bx-shadow);
  }
  .nav {
    all: unset;
    grid-column: 2 / 3;
    display: flex;
    justify-content: space-around;
    .nav-list {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      li {
        all: unset;
      }
    }
    a {
      opacity: 1;
      font-size: 1.5em;
    }
  }

  /*  CONTENT STUFF  */
  .content-parent {
    display: grid;
    margin-top: 4em;
    grid-template-columns: 1fr minmax(300px, 900px) 1fr;
    margin: 0;
  }
}
